<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uvce.uvceconnect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MultiDex_Support"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".about_uvce"
            android:label="ABOUT UVCE"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".associations"
            android:label="@string/title_activity_associations"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Academic"
            android:label="@string/title_activity_academics"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".placements"
            android:label="TRAINING AND PLACEMENT OFFICE"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fests"
            android:label="FESTS"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Admin_Page"
            android:label="@string/title_activity_admin__page"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin_Add_Content"
            android:label="@string/title_activity_admin__add__content"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Admin_Add_Delete"
            android:label="@string/title_activity_admin__add__delete"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Ieee"
            android:label="IEEE"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Adhamya"
            android:label="ADHAMYA"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chethana"
            android:label="CHETHANA"
            android:parentActivityName=".Adhamya"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chakravyuha"
            android:label="CHAKRAVYUHA"
            android:parentActivityName=".Adhamya"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vinimaya"
            android:label="VINIMAYA"
            android:parentActivityName=".Adhamya"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sae"
            android:label="SAE"
            android:parentActivityName=".Adhamya"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dance"
            android:label="DANCE"
            android:parentActivityName=".Adhamya"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tatva"
            android:label="TATVA"
            android:parentActivityName=".Adhamya"
            android:screenOrientation="portrait" />
        <activity
            android:name=".G2c2"
            android:label="G2C2"
            android:parentActivityName=".Adhamya"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sports"
            android:label="SPORTS"
            android:parentActivityName=".Adhamya"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Music"
            android:label="MUSIC"
            android:parentActivityName=".Adhamya"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Ecell"
            android:label="E-CELL"
            android:parentActivityName=".Adhamya"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UVCE_Assistant"
            android:label="@string/title_activity_uvce__assistant"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.uvce.uvceconnect.MainActivity" />
        </activity>
        <activity
            android:name=".Register"
            android:label="Register"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Wie"
            android:label="WOMEN IN ENGINEERING"
            android:parentActivityName=".Ieee"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Cs"
            android:label="COMPUTER SOCIETY"
            android:parentActivityName=".Ieee"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Avishkar"
            android:label="AVISHKAR"
            android:parentActivityName=".Ieee"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Robotics"
            android:label="ROBOTICS"
            android:parentActivityName=".Ieee"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Design"
            android:label="DESIGN TEAM"
            android:parentActivityName=".Ieee"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Art"
            android:label="ART FORUM"
            android:parentActivityName=".Ieee"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Varchas"
            android:label="VARCHAS"
            android:parentActivityName=".Ieee"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Vidyuth"
            android:label="VIDYUTH"
            android:parentActivityName=".Ieee"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Tstar"
            android:label="TISP AND STAR"
            android:parentActivityName=".Ieee"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Literary"
            android:label="LITERARY"
            android:parentActivityName=".Ieee"
            android:screenOrientation="portrait"/>
    </application>

</manifest>